In [3]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/lirawx/Documents/Workspace/kaggle/learning/sql/bigquery-d9af667f47e8.json"

In [4]:
# Create a "Client" object
client = bigquery.Client()

# Using Kaggle's public dataset BigQuery integration.

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [5]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [6]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [7]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [8]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,The third hand knowledge I have of booking.com...,None,riffraff,NaN,1.571642e+09,2019-10-21 07:15:26+00:00,comment,21309980,21309254.0,NaN,None,None
1,Skype releases then immediately yanks Skype fo...,http://twitter.com/#!/Skype/status/98253150229...,None,None,Terretta,4.0,1.312264e+09,2011-08-02 05:39:00+00:00,story,2835958,NaN,0.0,None,None
2,None,None,Curious if it is being used out in the field.,None,brudgers,NaN,1.501594e+09,2017-08-01 13:19:02+00:00,comment,14900307,14899519.0,NaN,None,None
3,None,None,Look at it another way. In the case of univers...,None,rsj_hn,NaN,1.561416e+09,2019-06-24 22:36:34+00:00,comment,20269242,20265097.0,NaN,None,None
4,None,None,None,None,None,NaN,NaN,NaT,story,297067,NaN,NaN,None,None

In [9]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

                                               title
0                                               None
1  Skype releases then immediately yanks Skype fo...
2                                               None
3                                               None
4                                               None