In [3]:
#coding:utf-8
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import KFold,GridSearchCV
from sklearn.metrics import accuracy_score

#read data
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [4]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
def clean_data(titanic):#填充空数据 和 把string数据转成integer表示
    titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
    # child
    titanic["child"] = titanic["Age"].apply(lambda x: 1 if x < 15 else 0)

    # sex
    titanic["sex"] = titanic["Sex"].apply(lambda x: 1 if x == "male" else 0)

    titanic["Embarked"] = titanic["Embarked"].fillna("S")
    # embark
    def getEmbark(Embarked):
        if Embarked == "S":
            return 1
        elif Embarked == "C":
            return 2
        else:
            return 3
    titanic["embark"] = titanic["Embarked"].apply(getEmbark)

    # familysize
    titanic["fimalysize"] = titanic["SibSp"] + titanic["Parch"] + 1

    # cabin
    def getCabin(cabin):
        if cabin == "N":
            return 0
        else:
            return 1
    titanic["cabin"] = titanic["Cabin"].apply(getCabin)

    # name
    def getName(name):
        if "Mr" in str(name):
            return 1
        elif "Mrs" in str(name):
            return 2
        else:
            return 0
    titanic["name"] = titanic["Name"].apply(getName)

    titanic["Fare"] = titanic["Fare"].fillna(titanic["Fare"].median())

    return titanic

In [6]:
# 对数据进行清洗
train_data = clean_data(train)
test_data = clean_data(test)

In [7]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,child,sex,embark,fimalysize,cabin,name
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,1,2,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0,2,2,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,1,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,1,2,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1,1,1,1,1
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0,1,3,1,1,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,1,1,1,1,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,1,1,1,5,1,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,0,1,3,1,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,0,2,2,1,1

In [8]:
features = ["Pclass", "sex", "child", "fimalysize", "Fare", "embark", "cabin"]

In [9]:
# 简单初始化xgb的分类器就可以
clf =XGBClassifier(learning_rate=0.1, max_depth=2, 
silent=True, objective='binary:logistic')

In [11]:
# 设置boosting迭代计算次数
param_test = {
    'n_estimators': range(30, 50, 2),
    'max_depth': range(2, 7, 1)
}
grid_search = GridSearchCV(estimator = clf, param_grid = param_test, 
scoring='accuracy', cv=5)
grid_search.fit(train[features], train["Survived"])
print(grid_search)

GridSearchCV(cv=5, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=2, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=True,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': range(2, 7),
                         'n_estimators': range(30, 50, 2)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [13]:
grid_search.cv_results_

{'mean_fit_time': array([0.02529602, 0.02699146, 0.02358427, 0.01765141, 0.01704483,
        0.01921439, 0.01775708, 0.01897488, 0.02042651, 0.01965175,
        0.01654248, 0.01722598, 0.01819692, 0.0192286 , 0.02060065,
        0.02145123, 0.02222691, 0.02124696, 0.02069478, 0.0216536 ,
        0.01763682, 0.01878238, 0.01962004, 0.02051687, 0.02208838,
        0.02295089, 0.02379723, 0.0247952 , 0.02729897, 0.02703838,
        0.02049465, 0.0223979 , 0.0239862 , 0.02408643, 0.02532668,
        0.02667284, 0.02852712, 0.02871809, 0.02973762, 0.03087101,
        0.02386532, 0.02452869, 0.02813282, 0.02717824, 0.0283143 ,
        0.0294642 , 0.03053894, 0.0319571 , 0.03309402, 0.03485341]),
 'std_fit_time': array([0.00376015, 0.0066594 , 0.01142605, 0.00287388, 0.00187585,
        0.0038194 , 0.00055832, 0.00078364, 0.00108275, 0.00030588,
        0.00056619, 0.00053829, 0.00028714, 0.00050225, 0.0008637 ,
        0.00103634, 0.00103354, 0.00127406, 0.00053369, 0.00069363,
        0.00047224, 0.00082155, 0.00072474, 0.00057488, 0.00131876,
        0.00085714, 0.00101383, 0.00135119, 0.00202426, 0.00141252,
        0.00042839, 0.00133114, 0.00202891, 0.00082331, 0.00053392,
        0.0008895 , 0.00240176, 0.00092657, 0.00067382, 0.00072136,
        0.00108617, 0.00046228, 0.00255886, 0.00075708, 0.00024948,
        0.0007355 , 0.00032908, 0.00052012, 0.00031964, 0.00076922]),
 'mean_score_time': array([0.00242229, 0.00197792, 0.00203009, 0.00156417, 0.0018404 ,
        0.00163836, 0.00132504, 0.00158339, 0.00120006, 0.00151138,
        0.00128808, 0.00144043, 0.00146446, 0.00138988, 0.00143657,
        0.00136538, 0.00126481, 0.00121536, 0.00115876, 0.00140882,
        0.0014647 , 0.0012486 , 0.00121355, 0.00127997, 0.00138454,
        0.00153766, 0.00129213, 0.00145264, 0.0013483 , 0.00142083,
        0.00162601, 0.00146399, 0.00127296, 0.00168223, 0.0015799 ,
        0.00154738, 0.00144682, 0.00140147, 0.00141273, 0.00136991,
        0.00128226, 0.00140224, 0.00161648, 0.00134864, 0.00129752,
        0.00138516, 0.00140915, 0.00155568, 0.00142922, 0.00149698]),
 'std_score_time': array([4.71906668e-04, 4.51703312e-04, 5.66602190e-04, 1.69619067e-04,
        1.37178277e-03, 8.74697603e-04, 1.99152373e-04, 5.63453179e-04,
        5.64271049e-05, 3.98316050e-04, 1.51411424e-04, 5.60025249e-04,
        3.85893344e-04, 4.05826343e-04, 2.98418492e-04, 3.08855102e-04,
        1.26899529e-04, 1.36297761e-04, 7.99207243e-05, 3.55597358e-04,
        5.85744650e-04, 4.66355517e-05, 4.99817698e-05, 1.25223611e-04,
        1.87770299e-04, 3.53527230e-04, 5.12706612e-05, 4.55131498e-04,
        9.45895658e-05, 2.30973767e-04, 5.05225565e-04, 3.88162979e-04,
        5.67110353e-05, 7.80359728e-04, 5.33846545e-04, 4.36162962e-04,
        1.26081606e-04, 1.46870830e-04, 2.13154349e-04, 7.76790123e-05,
        6.80079792e-05, 3.01006514e-04, 3.31171113e-04, 1.00891644e-04,
        9.20202320e-05, 2.75961216e-04, 1.32263884e-04, 1.53859029e-04,
        1.97067781e-04, 2.60259774e-04]),
 'param_max_depth': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3,
                    3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5,
                    5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 30, 32, 34, 36,
                    38, 40, 42, 44, 46, 48, 30, 32, 34, 36, 38, 40, 42, 44,
                    46, 48, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 30, 32,
                    34, 36, 38, 40, 42, 44, 46, 48],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 2, 'n_estimators': 30},
  {'max_depth': 2, 'n_estimators': 32},
  {'max_depth': 2, 'n_estimators': 34},
  {'max_depth': 2, 'n_estimators': 36},
  {'max_depth': 2, 'n_estimators': 38},
  {'max_depth': 2, 'n_estimators': 40},
  {'max_depth': 2, 'n_estimators': 42},
  {'max_depth': 2, 'n_estimators': 44},
  {'max_depth': 2, 'n_estimators': 46},
  {'max_depth': 2, 'n_estimators': 48},
  {'max_depth': 3, 'n_estimators': 30},
  {'max_depth': 3, 'n_estimators': 32},
  {'max_depth': 3, 'n_estimators': 34},
  {'max_depth': 3, 'n_estimators': 36},
  {'max_depth': 3, 'n_estimators': 38},
  {'max_depth': 3, 'n_estimators': 40},
  {'max_depth': 3, 'n_estimators': 42},
  {'max_depth': 3, 'n_estimators': 44},
  {'max_depth': 3, 'n_estimators': 46},
  {'max_depth': 3, 'n_estimators': 48},
  {'max_depth': 4, 'n_estimators': 30},
  {'max_depth': 4, 'n_estimators': 32},
  {'max_depth': 4, 'n_estimators': 34},
  {'max_depth': 4, 'n_estimators': 36},
  {'max_depth': 4, 'n_estimators': 38},
  {'max_depth': 4, 'n_estimators': 40},
  {'max_depth': 4, 'n_estimators': 42},
  {'max_depth': 4, 'n_estimators': 44},
  {'max_depth': 4, 'n_estimators': 46},
  {'max_depth': 4, 'n_estimators': 48},
  {'max_depth': 5, 'n_estimators': 30},
  {'max_depth': 5, 'n_estimators': 32},
  {'max_depth': 5, 'n_estimators': 34},
  {'max_depth': 5, 'n_estimators': 36},
  {'max_depth': 5, 'n_estimators': 38},
  {'max_depth': 5, 'n_estimators': 40},
  {'max_depth': 5, 'n_estimators': 42},
  {'max_depth': 5, 'n_estimators': 44},
  {'max_depth': 5, 'n_estimators': 46},
  {'max_depth': 5, 'n_estimators': 48},
  {'max_depth': 6, 'n_estimators': 30},
  {'max_depth': 6, 'n_estimators': 32},
  {'max_depth': 6, 'n_estimators': 34},
  {'max_depth': 6, 'n_estimators': 36},
  {'max_depth': 6, 'n_estimators': 38},
  {'max_depth': 6, 'n_estimators': 40},
  {'max_depth': 6, 'n_estimators': 42},
  {'max_depth': 6, 'n_estimators': 44},
  {'max_depth': 6, 'n_estimators': 46},
  {'max_depth': 6, 'n_estimators': 48}],
 'split0_test_score': array([0.82122905, 0.82681564, 0.82681564, 0.82681564, 0.83798883,
        0.83798883, 0.83798883, 0.83798883, 0.83798883, 0.83240223,
        0.81564246, 0.81005587, 0.81005587, 0.81005587, 0.80446927,
        0.81005587, 0.80446927, 0.80446927, 0.78212291, 0.78212291,
        0.80446927, 0.79888268, 0.79888268, 0.79888268, 0.79888268,
        0.79888268, 0.79888268, 0.79888268, 0.79888268, 0.79329609,
        0.79888268, 0.79888268, 0.79888268, 0.79888268, 0.79888268,
        0.80446927, 0.80446927, 0.80446927, 0.79888268, 0.7877095 ,
        0.81564246, 0.81564246, 0.81005587, 0.80446927, 0.81005587,
        0.81005587, 0.81005587, 0.80446927, 0.81005587, 0.80446927]),
 'split1_test_score': array([0.82022472, 0.8258427 , 0.83146067, 0.82022472, 0.83146067,
        0.82022472, 0.82022472, 0.82022472, 0.82022472, 0.82022472,
        0.82022472, 0.82022472, 0.80898876, 0.81460674, 0.81460674,
        0.81460674, 0.81460674, 0.81460674, 0.81460674, 0.81460674,
        0.79775281, 0.79775281, 0.79775281, 0.79775281, 0.80337079,
        0.80337079, 0.80337079, 0.80337079, 0.80337079, 0.79775281,
        0.82022472, 0.82022472, 0.82022472, 0.8258427 , 0.8258427 ,
        0.8258427 , 0.8258427 , 0.8258427 , 0.8258427 , 0.8258427 ,
        0.82022472, 0.82022472, 0.82022472, 0.82022472, 0.82022472,
        0.82022472, 0.82022472, 0.82022472, 0.81460674, 0.82022472]),
 'split2_test_score': array([0.81460674, 0.8258427 , 0.8258427 , 0.8258427 , 0.8258427 ,
        0.8258427 , 0.8258427 , 0.8258427 , 0.8258427 , 0.8258427 ,
        0.83707865, 0.83707865, 0.84269663, 0.84269663, 0.83707865,
        0.83707865, 0.83707865, 0.83707865, 0.83707865, 0.84269663,
        0.8258427 , 0.83146067, 0.83707865, 0.84269663, 0.84269663,
        0.83146067, 0.85393258, 0.86516854, 0.87078652, 0.85955056,
        0.87640449, 0.87640449, 0.87640449, 0.88202247, 0.87640449,
        0.88202247, 0.88202247, 0.88202247, 0.88202247, 0.88202247,
        0.87078652, 0.87078652, 0.87640449, 0.87640449, 0.87640449,
        0.87640449, 0.87640449, 0.87640449, 0.87640449, 0.87640449]),
 'split3_test_score': array([0.80337079, 0.80337079, 0.80337079, 0.80337079, 0.79213483,
        0.79213483, 0.79213483, 0.79213483, 0.79213483, 0.79213483,
        0.79213483, 0.79213483, 0.79213483, 0.79213483, 0.79213483,
        0.79213483, 0.79213483, 0.79213483, 0.79213483, 0.79213483,
        0.78651685, 0.79213483, 0.79213483, 0.79213483, 0.80337079,
        0.80337079, 0.80337079, 0.80337079, 0.80337079, 0.80337079,
        0.79213483, 0.79213483, 0.79213483, 0.79213483, 0.79775281,
        0.79775281, 0.79775281, 0.79775281, 0.79775281, 0.79775281,
        0.79213483, 0.79213483, 0.79213483, 0.79213483, 0.78089888,
        0.78089888, 0.78089888, 0.78089888, 0.78089888, 0.78089888]),
 'split4_test_score': array([0.82022472, 0.8258427 , 0.83146067, 0.83146067, 0.83146067,
        0.83146067, 0.83146067, 0.83146067, 0.83146067, 0.83146067,
        0.83707865, 0.83707865, 0.83707865, 0.83707865, 0.83707865,
        0.83707865, 0.83707865, 0.83707865, 0.83707865, 0.83707865,
        0.84831461, 0.84269663, 0.84269663, 0.84269663, 0.84269663,
        0.84269663, 0.84831461, 0.84831461, 0.84831461, 0.84831461,
        0.85393258, 0.84831461, 0.84831461, 0.85393258, 0.84831461,
        0.84831461, 0.84831461, 0.85393258, 0.85393258, 0.85393258,
        0.85393258, 0.85955056, 0.85955056, 0.85393258, 0.85393258,
        0.85393258, 0.85393258, 0.86516854, 0.85955056, 0.85955056]),
 'mean_test_score': array([0.8159312 , 0.8215429 , 0.82379009, 0.8215429 , 0.82377754,
        0.82153035, 0.82153035, 0.82153035, 0.82153035, 0.82041303,
        0.82043186, 0.81931454, 0.81819095, 0.81931454, 0.81707363,
        0.81819095, 0.81707363, 0.81707363, 0.81260436, 0.81372795,
        0.81257925, 0.81258553, 0.81370912, 0.81483272, 0.8182035 ,
        0.81595631, 0.82157429, 0.82382148, 0.82494508, 0.82045697,
        0.82831586, 0.82719227, 0.82719227, 0.83056305, 0.82943946,
        0.83168037, 0.83168037, 0.83280397, 0.83168665, 0.82945201,
        0.83054422, 0.83166782, 0.83167409, 0.82943318, 0.82830331,
        0.82830331, 0.82830331, 0.82943318, 0.82830331, 0.82830959]),
 'std_test_score': array([0.00670006, 0.00909387, 0.01046891, 0.00976336, 0.01628218,
        0.01583597, 0.01583597, 0.01583597, 0.01583597, 0.01479841,
        0.01660081, 0.01706702, 0.01890532, 0.01848734, 0.01781741,
        0.01715481, 0.01781741, 0.01781741, 0.02258368, 0.02387615,
        0.0219899 , 0.02043995, 0.02156983, 0.02286533, 0.02006559,
        0.01768462, 0.02424767, 0.0274514 , 0.02918123, 0.02774702,
        0.03227872, 0.03145473, 0.03145473, 0.03375459, 0.03004225,
        0.03077865, 0.03077865, 0.03146038, 0.03252794, 0.03499502,
        0.02817905, 0.02918333, 0.0314315 , 0.0313231 , 0.03351417,
        0.03351417, 0.03351417, 0.03618533, 0.03480764, 0.0351301 ]),
 'rank_test_score': array([44, 26, 23, 26, 24, 28, 28, 28, 28, 34, 33, 35, 38, 35, 40, 38, 40,
        40, 48, 46, 50, 49, 47, 45, 37, 43, 25, 22, 21, 32, 13, 19, 19,  7,
        10,  3,  3,  1,  2,  9,  8,  6,  5, 11, 15, 15, 15, 11, 15, 14],
       dtype=int32)}